<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .box{page-break-inside:avoid; page-break-after:auto; position:relative;
            display:block;}
    </style>
</head>
<body>
    <div class="container mx-auto py-5">
        {% for d, r in data.iterrows %}
            <div class="p-3 border border-2 border-gray-800 rounded mb-5 w-4/6 mx-auto box">
                <div class="mb-4">
                    <img src="data:image/png;base64,{{ logo }}" alt="logo" class="w-1/12 mx-auto">
                </div>
                <div class="mb-4">
                    <div class="border-b border-gray-800">
                        <h5 class="text-sm">Pengirim: </h5>
                    </div>
                    <h5 class="text-lg font-bold">{{ pengirim }}</h5>
                    <h5>{{ alamat_pengirim }}</h5>
                    <h5>Telp. {{ telepon_pengirim }}</h5>
                </div>
                <div class="border-b border-gray-800">
                    <h5 class="text-sm">Penerima: </h5>
                </div>
                <h5 class="text-lg font-bold">{{ r.NAMA }}</h5>
                <h5>{{ r.ALAMAT }}</h5>
                <h5>Telp. {{ r.WA }}</h5>
            </div>
        {% endfor %}
    </div>
</body>
</html>